<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="w3.css">
<script src="simplehtml.js"></script>

<script>
  let singleColor = "w3-blue"
  let multiColor = "w3-teal"
  let metaColor = "w3-purple"
  let descriptionColor = "w3-sand"
  let indicatorColor = "w3-khaki"
  let noteColor = "w3-orange"
  let throwColor = "w3-red"
</script>

<script>
  functions.sort((a, b) => a.id < b.id ? -1 : 1)
  $$ = simpleHTML
  $$.addNewTag("header")
  $$.addNewTag("footer")
  $$.addNewTag("h1")
  $$.addNewTag("h2")
  $$.addNewTag("h3")
  $$.addNewTag("h4")
  $$.addNewTag("h5")
  $$.addNewTag("h6")
  $$.addCreatorsToGlobal()
  $$.addFunctionsToElements()

  function processIndicatorSpan(text, indicators) {
    let result = []
    let buffer = ""
    let isReading = false
    for (let i = 0; i < text.length; i++) {
      switch (text.charAt(i)) {
        case "{":
          if (!isReading) {
            isReading = true
            result.push(buffer)
            buffer = ""
          } else {
            result.push("{" + buffer)
            buffer = ""
          }
          break;
        case "}":
          if (isReading) {
            isReading = false
            if (indicators.includes(buffer)) {
              result.push(span(buffer).addClass(indicatorColor))
            } else {
              result.push("{" + buffer + "}")
            }
            buffer = ""
          } else {
            buffer += "}"
          }
          break;
        default:
          buffer += text.charAt(i)
      }
    }
    if (isReading) {
      buffer = "{" + buffer
    }
    result.push(buffer)
    return result
  }

  function functionInfoDivs(func) {
    return div(
      div(
        div("Function type: ", func.funcType),
        div("Parameters: ", func.params.map(p => `${p[0]} ->${p[1]}`).join(", ")),
        div("Return: ", func.return),
      ).addClass("w3-container"),
      div(
        processIndicatorSpan(func.description, func.params.map(p => p[1]))
      ).addClass("w3-container", "w3-leftbar", descriptionColor).css("margin", "10px"),
      func.note ? div(`Note: ${func.note}`).addClass("w3-container", "w3-leftbar", noteColor).css("margin", "10px") : null,
      func.throw ? div(`Throws: ${func.throw}`).addClass("w3-container", "w3-leftbar", throwColor).css("margin", "10px") : null
    ).addClass("w3-card", "function-info").css("margin-bottom", "10px", "padding-bottom", "5px")
  }

  function innerFunctions(values) {
    return values.map(inner =>
      functionInfoDivs(inner)
    )
  }

  function singleFunction(func) {
    let h = header(
      h4(func.id).css("display", "inline"),
      div(func.type).css("display", "inline", "padding-left", "10px")
    ).addClass("w3-container", singleColor);
    let info = functionInfoDivs(func);

    h.onclick = () => {
      if (info.style["display"] != "none") {
        $$(info).css("display", "none")
      } else {
        $$(info).css("display", "block")
      }
    }

    return div(
      h,
      info
    ).addClass("w3-card", `${func.type}-func`).css("margin-bottom", "10px")
  }

  function multiFunction(func) {
    let h = header(
      h4(func.id).css("display", "inline"),
      div(`${func.type} - ${func.values.length}`).css("display", "inline", "padding-left", "10px")
    ).addClass("w3-container", multiColor)
    let funcs = innerFunctions(func.values);
    let showing = true;

    h.onclick = () => {
      if (funcs[0].style["display"] != "none") {
        $$(funcs).css("display", "none")
      } else {
        $$(funcs).css("display", "block")
      }
      showing = !showing;
    }

    return div(
      h,
      funcs
    ).addClass("w3-card", `${func.type}-func`).css("margin-bottom", "10px")
  }

  function metaFunction(func) {
    let h = header(
      h4(func.id).css("display", "inline"),
      div(func.type).css("display", "inline", "padding-left", "10px")
    ).addClass("w3-container", metaColor);
    let info = functionInfoDivs(func);

    h.onclick = () => {
      if (info.style["display"] != "none") {
        $$(info).css("display", "none")
      } else {
        $$(info).css("display", "block")
      }
    }

    return div(
      h,
      info
    ).addClass("w3-card", `${func.type}-func`).css("margin-bottom", "10px")
  }

  function processFunc(func) {
    let result;
    switch (func.type) {
      case "single":
        result = singleFunction(func)
        break;
      case "multi":
        result = multiFunction(func)
        break;
      case "meta":
        result = metaFunction(func)
        break;
      default:
        console.log("Unknow type function: ", func)
        result = div()
    }
    result.attr("id", "function_" + func.id)
    return result
  }

  function addFunc(func) {
    simpleHTML("#main").append(processFunc(func))
  }

  function hideAllInfo() {
    $$(".function-info").css("display", "none")
  }

  function showAllInfo() {
    $$(".function-info").css("display", "block")
  }

  function filterFuncs() {
    let filter = $$("#search-bar").value.trim();
    let total = 0;
    functions.forEach(fn => {
      let elem = $$("#function_" + fn.id)
      if (filter == "" || fn.id.match(filter)) {
        elem.css("display", "block")
        total++;
      } else {
        elem.css("display", "none")
      }
    }
    )
    $$("#func-count").innerText = total
  }

</script>
<title>nau Language</title>

<body onload="functions.forEach(addFunc);filterFuncs()">
  <div class="w3-container w3-blue">
    <h1><img src="icon.png" width="50" /> nau Language</h1>
  </div>
  <div class="w3-container" id="main">

    <div class="w3-padding-16">
      <h2>Functions - <span id="func-count">0</span></h2>
      <div style="padding-bottom: 16px;">
        Search: <input id="search-bar" onkeyup="filterFuncs()"></input>
      </div>
      <button class="w3-button w3-blue" onclick="showAllInfo()">Show All</button>
      <button class="w3-button w3-red" onclick="hideAllInfo()">Hide All</button>
    </div>
  </div>
</body>